.logo-cart {
  display: flex;
  justify-content: end;
}
.logo-cart img {
  padding: 10px;
  width: 200px;
  height: 60px;
}
.cart-title {
  text-align: center;
  text-transform: capitalize;
}
.cartsItems {
  display: grid;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}
.itemAddDetails {
  text-align: end;
}
.eleTitle {
  text-align: end !important;
}
.delete-from-cart {
  padding: 10px;
  background-color: rgb(192, 24, 24) !important;
  color: white;
  text-align: center;
  border-radius: 4px;
  margin: 5px;
  font-size: 16px;
}
.delete-from-cart:hover {
  background-color: rgb(145, 8, 8) !important;
  cursor: pointer;
}
.cart-popup {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #b1323c !important;
  color: white;
  padding: 15px 25px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  display: none;
  align-items: center;
  gap: 10px;
  animation: slideIn 0.5s, fadeOut 0.5s 2.5s forwards;
}

.popup-icon {
  font-size: 24px;
  font-weight: bold;
  display: inline-block;
  text-align: end;
  width: 100%;
}
.cartItems {
  display: flex;
  gap: 1em;
  width: 450px;
  margin: 0 10px;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}
.electronicsImage {
  width: 140px !important;
  height: 200px !important;
}
.cartItems:hover .hide {
  position: absolute;
  bottom: 50%;
  width: 70% !important;
  margin: 0 10% !important;
  padding: 10px;
  right: 10px;
}
.incOrDec {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100px;
  font-size: 20px;
  color: #004956;
  font-weight: bold;
}
.incOrDec button {
  color: white;
  background: #004956;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
