* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
main {
  background-image: url("../images/loginBackground.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2em;
  color: #004956;
  transition: all 3s ease-in-out;
  position: relative;
}
header {
  font-weight: 500;
  font-size: 20px;
  text-align: center;
}
.signin {
  display: inline-block;
  color: #9fb2b6;
  padding: 0.2em 0;
  text-decoration: none;
  font-size: 15px;
  transition: all 0.5s ease-in-out;
}
.signin a:hover {
  color: #647275;
  text-decoration: underline;
  transform: scale(1.1);
}
.formEle {
  display: grid;
  gap: 0.5em;
}

input {
  background: transparent;
  border: 1px solid rgb(74, 103, 110);
  padding: 1em;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}
input:hover {
  border: 1px solid rgb(181, 221, 231);
  box-shadow: 5px 5px 5px rgb(183, 192, 194), -5px -5px 5px rgb(183, 192, 194);
}
input:focus {
  outline: none;
}
.signBtn {
  text-align: center;
  text-decoration: none;
  background-color: #004956;
  border: none;
  border-radius: 5px;
  padding: 1em;
  font-weight: 600;
  color: white;
  transition: all 0.5s ease-in-out;
}
.signBtn:hover {
  cursor: pointer;
  background-color: #017286;
  letter-spacing: 2px;
}
.errorMail,
.passError {
  display: none;
  font-size: 15px;
  color: rgb(136, 42, 42);
}
.loginForm {
  display: grid;
  gap: 0.9em;
  width: 40%;
}
.successSign {
  position: absolute;
  text-transform: capitalize;
  background-color: #21db21;
  color: white;
  padding: 1em;
  border-radius: 1em;
  bottom: 2em;
  right: 32;
  transform: translate(32em, -5em);
  z-index: 100;
  display: none;
  width: 20%;
  font-size: 20;
  font-weight: 700;
}
.errorLength {
  display: none;
  font-size: 20;
  font-weight: 700;
  color: white;
  padding: 1em;
  border-radius: 1em;
}
.error,
.errorLength {
  background-color: rgb(238, 8, 8) !important;
}
@media screen and (max-width: 720px) {
  .loginForm {
    width: 90%;
  }
  .successSign {
    bottom: 2em;
    right: 5em;
    transform: translate(5em, -2em);
    width: 70%;
  }
}
@media screen and (min-width: 720px) {
  .successSign {
    bottom: 2em;
    right: 5em;
    transform: translate(5em, -2em);
    width: 40%;
  }
}
